extends _shared/_base
include _shared/_nav

block content
    +nav(user)
    .container
        .jumbotron
            if user
                h1 HI #{user.username}
            else
                Hi Annonymous
            p
                | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
            p To see the difference between static and fixed top navbars, just scroll.
            p
                a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs » #{messages[0]}
    .container
        .row
        each val in context 
            .col-sm-6.col-md-4
                .thumbnail
                    img(src='...', alt='...')
                    .caption
                    h3 #{val.title}
                    p #{val.author}
                    p #{val.bookId}
                        a.btn.btn-primary(href='#', role='button') Details
                        if user
                            a.btn.btn-default(href='bookshelf/add/' +val.bookId, role='button') Add to bookshelf
    .footer